
<div class="main" >
    <div class="box">
        <h1>Alternance - Développeur FullStack</h1>
        <h2>Septembre 2022 - Octobre 2022 | Echoliv - Station F Paris</h2>
        <div>
            <h4>¤ Mission :</h4>
            <p>Trouver une solution d'annotation et d'image et l'implémenter dans un environnement cloud</p>
            <div>
                <h4>¤ Contenu :</h4>
                <ul>
                    <li>Analyse des solutions existantes et etudes de leurs intégrations.</li>
                    <li>Création d'instances AWS EC2 au sein d'un VPC privé.</li>
                    <li>Création d'une base de données DynamoDB.</li>
                    <li>Création d'un EFS.</li>
                    <li>Déploiement de script bash au démarrage et fermeture des instances.</li>
                    <li>Déploiement d'un script powershell pour démarrer les instances, les éteindres et se connecter à la solution.</li>
                </ul>
            </div>
            <div>
                <h4>¤ Compétences développées :</h4>
                <ul>
                    <li><strong>AWS</strong>.</li>
                    <li><strong>Script Bash</strong>.</li>
                    <li><strong>Script PowerShell</strong>.</li>
                    <li>Autonomie.</li>
                    <li>Découverte du cloud AWS.</li>
                    <li>Organisation.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box" >
        <h1>Stage - Développeur FullStack</h1>
        <h2>Avril 2022 - Juin 2022 | Actia Telecom - Vendargues</h2>
        <div >
            <h4>¤ Mission :</h4>
            <p>Ajouter un système d'aide au diagnostic à un logiciel d'hypervision de vidéos surveillance pour les villes et la mobilité.</p>
            <div>
                <h4>¤ Contenu :</h4>
                <ul>
                    <li>Analyse des besoins de recherche et d'analyses auprès du service technique.</li>
                    <li>Analyse des solutions existant sur le marché et comparatif à une solution maison avec <strong>ReactJS</strong></li>
                    <li>Développement d'une solution d'analyse de logs avec possibilité de créer des rapports, des requêtes spécifiques au logiciel.</li>
                    <li>Déploiement et validation de la solution sur différents cas.</li>
                    <li>Rédaction documentaire de la solution mise en place.</li>
                </ul>
            </div>
            <div>
                <h4>¤ Compétences développées :</h4>
                <ul>
                    <li>Travail au sein d'une équipe.</li>
                    <li>Autonomie.</li>
                    <li>Découverte d'un nouveau FrameWork.</li>
                    <li>Organisation.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box" >
        <h1>Vendeur CDD en Boulangerie</h1>
        <h2>Juillet 2021 - Aout 2021 | Christophe Roussel Yummy - LaBaule</h2>
        <div >
            <div>
                <h4>¤ Contenu :</h4>
                <ul>
                    <li>Facing de la vitrine.</li>
                    <li>Conseil client.</li>
                    <li>Gestion des commandes et des stocks.</li>
                    <li>Plaquage des viennoiseries.</li>
                    <li>Installation et gestion du glacier.</li>
                </ul>
            </div>
            <div>
                <h4>¤ Compétences développées :</h4>
                <ul>
                    <li>Travail au sein d'une équipe.</li>
                    <li>Relation client.</li>
                    <li>Autonomie</li>
                    <li>Ponctualité.</li>
                    <li>Prise de décision.</li>
                    <li>Polyvalence.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box">
        <h1>Stage préparateur de commandes</h1>
        <h2>Février 2016 - Février 2016 | Rexel - Nîmes </h2> <h2> Février 2017 - Février 2017 | Casino - Saint Dionisy</h2>
        <div>
            <div>
                <h4>¤ Contenu :</h4>
                <ul>
                    <li>Mise en rayon.</li>
                    <li>Gestion des commandes et des stocks.</li>
                    <li>Accueil clients.</li>
                </ul>
            </div>
            <div>
                <h4>¤ Compétences développées :</h4>
                <ul>
                    <li>Compréhension du fonctionnement d'une grande surface.</li>
                    <li>Relation client.</li>
                    <li>Autonomie.</li>
                    <li>Ponctualité.</li>
                    <li>Gestion des flux de marchandises au sein d'une entreprise.</li>
                </ul>
            </div>
        </div>
    </div>
</div>