.section {
    background: #1d2f3d;
    padding: 50px 0;
    color: white;
    margin-bottom: 5;
  }
  .section .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  .container {
    align-items: center;
  }

.section h1 {
    font-size: 2.5rem;
}

#fr{
    margin-top: 3%;
}
  .box{
    transform: translate(-0, -0);
    background: #1d2f3d;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 80px #1d2f3d;
    border: 2px solid #b7c1de;
    color : white;
    width:60%;
    margin-bottom: 3%;
    padding-top: 20px;
    padding-bottom: 20px;
}
div h1 {
    font-size: 2em;
    text-indent: 1em;
  }
  div h2 {
    font-size: 1.3em;
  }
  h1,h2 {
    text-align: center;
  }
  
  h4,p{
    text-indent: 1em;
  }
  
  p{
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
  }
  li {
    margin-right: 1em;
    text-align: justify;
  }
.menu {
    display: flex;
    justify-content: center;
  }

.inter {
    width: 100%;
}
video {
    margin-left: 2%;
}
.hit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 15%;
}
.hit h1 {
    width: 60%;
}
.jsp {
    display: flex;
    flex-direction: row;
}

button {
    border-radius: 20px;
    border: 6px solid transparent;
    color :#1d2f3d;
    width: 100px;
    height: 40px;
}
button:active {
    background-color: #1d2f3d;
    color : #b7c1de;
}

.odd {
    animation: slideRight .8s ease forwards;
}
.even {
    animation: slideLeft .8s ease forwards;
}
@keyframes slideLeft{
    0% {
      transform: translateX(-250px);
    }
    100% {
      transform: translateX(0px);
    }
  }
    @keyframes slideRight {
      0% {
        transform: translateX(250px);
      }
      100% {
        transform: translateX(0px);
      }
    }