<section class="section">
    <div class="container">
        <h1>Mes Projets</h1>
    </div>
</section>
<div id="fr" class="menu odd">
    <div class="box">
        <div class="inter">
            <div class="hit">
                <h1>Etude de l'Internet des Objets</h1>
            <button *ngIf="!iot" type="button"(click)="iot=true">Voir plus</button>
            <button *ngIf="iot" type="button"(click)="iot=false">Voir moins</button>
        </div>
        <div class="jsp" *ngIf="iot">
            <div>
            <h4>¤ Objectif :</h4>
            <p>Analyser l'Internet des Objets à travers le système Contiki et le simulateur Cooja.</p>
            <h4>¤ Contenu :</h4>
            <ul>
                <li>Etude et paramétrage d'applications consacrées à l'IOT(Contiki-COOJA).</li>
                <li>Prise en main de la simulation via unexemple simple.</li>
                <li>Communication entre un capteur RFID etune mote TelosB.</li>
                <li>Communication entre plusieurs motesjusqu'à un border router.</li>
                <li>Compréhension du protocole RPL.</li>
                <li>Compréhension de la création d'un DODAG.</li>
                <li>Elaborationd'un DODAG.</li>
                <li>Conception et réalisation d'une simulationpour la surveillance de l'énergie des objets d'un domaine.</li>
            </ul>
            <h4>¤ Compétences développées :</h4>
            <ul>
                <li>Amélioration de l'utilisation de GitHub.</li>
                <li>Découverte de Cooja et de Contiki.</li>
                <li>Organisation.</li>
                <li>Programmation bas niveau (C).</li>
            </ul>
            </div>
        <video width="400" height="400" controls>
            <source src="./assets/fichier/iot.mp4" type="video/mp4">
        </video>
        </div>
    </div>
    </div>
    </div>
<div class="menu even">
    <div class="box">
        <div class="inter">
            <div class="hit">
        <h1>Conception et analyse d'une agence de voyage</h1>
        <button *ngIf="!noissap" type="button"(click)="noissap=true">Voir plus</button>
        <button *ngIf="noissap" type="button"(click)="noissap=false">Voir moins</button>
    </div>
    <div class="jsp" *ngIf="noissap">
        <div>
        <h4>¤ Objectif :</h4>
        <p>Réaliser la conception d'une agence de voyage et sa numérisation.</p>
        <h4>¤ Contenu :</h4>
        <ul>
            <li>Analyse d'un processus métier.</li>
            <li>Analyse de données.</li>
            <li>Analyse d'un système informatique et d'informations.</li>
            <li>Utilisation de diagramme UML (Diagrammes de classes, de séquences, d'états-transitions,de communication et d'activité).</li>
            <li>Conception d'une numérisation.</li>
        </ul>
        <h4>¤ Compétences développées :</h4>
        <ul>
            <li>Analyse en utilisant des diagrammes UML.</li>
            <li>Appropriation d'un projet.</li>
            <li>Conception.</li>
            <li>Rédaction d'un rapport</li>
        </ul>
        </div>
    <video width="400" height="400" controls>
        <source src="./assets/fichier/noissap.mp4" type="video/mp4">
    </video>
    </div>
    </div>
    </div>
</div>
<div class="menu odd">
    <div class="box">
        <div class="inter">
            <div class="hit">
                <h1>Site E-Commerce - Projet PHP</h1>
                <button *ngIf="!commerce" type="button"(click)="commerce=true">Voir plus</button>
                <button *ngIf="commerce" type="button"(click)="commerce=false">Voir moins</button>
            </div>
            <div class="jsp" *ngIf="commerce">
                <div>
        <h4>¤ Objectif :</h4>
        <p>Développer un site de E-Commerce en PHP.</p>
        <h4>¤ Contenu :</h4>
        <ul>
            <li>Mise en pratique des méthodes vus en TD.</li>
            <li>Utilisation du pattern MVC.</li>
            <li>Mise en place d'une sécurité.</li>
            <li>Etablir une connection.</li>
            <li>Liéer le site avec une base de données.</li>
        </ul>
        <h4>¤ Compétences développées :</h4>
        <ul>
            <li>PHP.</li>
        </ul>
        <p>Malheuresement pour la vidéo, la base de données n'était plus accessible, de ce fait il n'est pas possible de montrer toutes les fonctionnalités implémentées.</p>
</div>
    <video width="400" height="400" controls>
        <source src="./assets/fichier/commerce.mp4" type="video/mp4">
    </video>
    </div>
    </div>
    </div>
</div>
<div class="menu even">
    <div class="box">
        <div class="inter">
            <div class="hit">
                <h1>Site WAS - Projet HTML/CSS</h1>
                <button *ngIf="!html" type="button"(click)="html=true">Voir plus</button>
                <button *ngIf="html" type="button"(click)="html=false">Voir moins</button>
            </div>
            <div class="jsp" *ngIf="html">
        <div>
        <h4>¤ Objectif :</h4>
        <p>Réaliser un site vitrine pour une entreprise en HTML/CSS.</p>
        <h4>¤ Contenu :</h4>
        <ul>
            <li>Respecter un cahier des charges.</li>
            <li>Faire en sorte que le site soit responsive.</li>
            <li>Répondre aux besoins d'une entreprise.</li>
            <li>Utiliser les connaissances vues en TD/Cours</li>
        </ul>
        <h4>¤ Compétences développées :</h4>
        <ul>
            <li>HTML/CSS.</li>
            <li>Créativité.</li>
            <li>Responsive.</li>
        </ul>
        </div>
    <video width="400" height="400" controls>
        <source src="./assets/fichier/html.mp4" type="video/mp4">
    </video>
    </div>
    </div>
    </div>
</div>
<div class="menu odd">
    <div class="box">
        <div class="inter">
            <div class="hit">
                <h1>BANG! - Projet Programmation orientée objet (Java)</h1>
                <button *ngIf="!bang" type="button"(click)="bang=true">Voir plus</button>
                <button *ngIf="bang" type="button"(click)="bang=false">Voir moins</button>
            </div>
            <div *ngIf="bang">
      
        <h4>¤ Objectif :</h4>
        <p>Programmer et implémenter toutes les fonctionnalités du jeu de société BANG! en Java.</p>
        <h4>¤ Contenu :</h4>
        <ul>
            <li>Développer les fonctionnalités du jeu.</li>
            <li>Réaliser des tests unitaires.</li>
            <li>Miseen pratique des connaissances vues en cours et en td.</li>
            <li>Utilisation de GitHub</li>
        </ul>
        <h4>¤ Compétences développées :</h4>
        <ul>
            <li>Java.</li>
            <li>Tests Unitaires.</li>
            <li>Trello.</li>
            <li>GitHub.</li>
        </ul>
        <p>Malheuresement nous n'avons plus accès au GitHub de ce projet. De ce fait il m'ait impossible de vous montrer le code que nous avons programmé.</p>
    </div>
    </div>
    </div>
</div>
<div class="menu even">
    <div class="box">
        <div class="inter">
            <div class="hit">
                <h1>Projet tutoré - Méthode SCRUM</h1>
                <button *ngIf="!scrum" type="button"(click)="scrum=true">Voir plus</button>
                <button *ngIf="scrum" type="button"(click)="scrum=false">Voir moins</button>
            </div>
            <div class="jsp" *ngIf="scrum">
        <div>
        <h4>¤ Objectif :</h4>
        <p>Gestion d'un projet de création d'un site web à l'aide d'un CMS.</p>
        <h4>¤ Contenu :</h4>
        <ul>
            <li>Analyser les CMS existant afin d'en choisir un.</li>
            <li>Mise en place de la méthode agile SCRUM.</li>
            <li>Critique de la méthode agile.</li>
            <li>Utilisation de Trello.</li>
            <li>Mise en place de Daily Meeting et de planning poker.</li>
        </ul>
        <h4>¤ Compétences développées :</h4>
        <ul>
            <li>Travail d'équipe.</li>
            <li>Méthode SCRUM.</li>
            <li>CMS Wordpress.</li>
            <li>Communication.</li>
            <li>Product Owner.</li>
        </ul>
        </div>
    <video width="400" height="400" controls>
        <source src="./assets/fichier/Gestion.mp4" type="video/mp4">
    </video>
    </div>
    </div>
    </div>
</div>
<div class="menu odd">
    <div class="box">
        <div class="inter">
            <div class="hit">
                <h1>WAZE - Conception orientée objet</h1>
                <button *ngIf="!waze" type="button"(click)="waze=true">Voir plus</button>
                <button *ngIf="waze" type="button"(click)="waze=false">Voir moins</button>
            </div>
            <div class="jsp" *ngIf="waze">
        <div>
        <h4>¤ Objectif :</h4>
        <p>Conception et analyse de l'application Waze.</p>
        <h4>¤ Contenu :</h4>
        <ul>
            <li>Analyse des fonctionnalités de l'application Waze et les traduire en diagramme UML.</li>
            <li>Réaliser un diagramme d'états transitions.</li>
            <li>Réaliser des diagrammes de classes.</li>
            <li>Réaliser des diagrammes de séquences.</li>
            <li>Réaliser des diagrammes d'états-transitions.</li>

        </ul>
        <h4>¤ Compétences développées :</h4>
        <ul>
            <li>Conception.</li>
            <li>UML.</li>
        </ul>
    </div>
    <video width="400" height="400" controls>
        <source src="./assets/fichier/Coo(2).mp4" type="video/mp4">
    </video>
    </div>
    </div>
    </div>
</div>
