header {
    text-decoration: none;
    background-color: transparent;
    color: #eee;
    font-size: 22px;
    border-radius: 20px;
    display :flex;
    justify-content: center;
    border-right: 3px solid #35292d;
    border-left: 3px solid #35292d;
    padding-right: 1rem;
    box-shadow:0px 0px 10px #b7c1de;
    margin : auto;
    margin: 1%;
}

p {
    margin-top: auto;
    margin-bottom: auto;
}

.ajout {
    margin-top: auto;
    margin-bottom: auto;
}
header a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #1d2f3d;
}

.colorB {
    color: #1d2f3d !important;
}
header a {
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
    color: #eee;
    border-radius: 4px;
    margin-top: auto;
    margin-bottom: auto;
}
@media (max-width: 740px){
    header p {
        display: none
    }
}

