.section {
    background: #1d2f3d;
    padding: 50px 0;
    color: white;
  }
  
  .section .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .section h1 {
    font-size: 2.5rem;
  }
div .img{
    width : 300px;
    height : 400px;
    animation: slideLeft .8s ease forwards;
  }

  .box{
    background: #1d2f3d;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 80px #1d2f3d;
    border: 2px solid #b7c1de;
    color : white;
    animation: slideRight .8s ease forwards;
    margin-bottom: 2%;
  }
  
  .box:last-child{
      margin-bottom: 0;
  }

  .main {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
    box-shadow: 0 20px 80px #1d2f3d;
    width: 90%;
    margin-left : 5%;
  }

  .mainbis {
    margin-top: 5%;
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    flex-direction:column;
    box-shadow: 0 20px 80px #1d2f3d;
    justify-content: center;
    align-items: center;
    width : 50%;
    margin-bottom: 5%;
    
  }
  @keyframes slideLeft{
    0% {
      transform: translateX(-350px);
    }
    100% {
      transform: translateX(0px);
    }
  }
    @keyframes slideRight {
      0% {
        transform: translateX(350px);
      }
      100% {
        transform: translateX(0px);
      }
    }

    
.section h1 {
    font-size: 2.5rem;
  }
  
  div h1 {
    font-size: 2em;
  }
  div h2 {
    font-size: 1.3em;
  }
  h1,h2,h4 {
    text-align: center;
  }
  
  p{
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
  }

  ul p{
      margin-left: -0;
}