<div class="menu box " id="ref">
    <h4>Référence Bac+2 / Technicien</h4>
</div>
<div class="menu">
    <div class="content box">
        <h1>Informatique - Logiciels - Outils</h1>
        <div class="compet  container">
            <h4>VsCode</h4><ngb-progressbar type="dark" [value]="75" [striped]="true"></ngb-progressbar><h4>75%</h4>
        </div>
        <div class="compet  container">
            <h4>GitHub</h4><ngb-progressbar type="dark" [value]="70" [striped]="true"></ngb-progressbar><h4>70%</h4>
        </div>
        <div class="compet  container">
            <h4>Cooja</h4><ngb-progressbar type="dark" [value]="60" [striped]="true"></ngb-progressbar><h4>60%</h4>
        </div>
    </div>
</div>
<div class="menu ">
    <div class="content box">
        <h1>Informatique - Langages & Framework</h1>
        <div class="compet container">
            <h4>Mathématique</h4><ngb-progressbar type="dark" [value]="90" [striped]="true"></ngb-progressbar><h4>90%</h4>
        </div>
        <div class="compet container">
            <h4>UML</h4><ngb-progressbar type="dark" [value]="90" [striped]="true"></ngb-progressbar><h4>90%</h4>
        </div>
        <div class="compet container">
            <h4>Java</h4><ngb-progressbar type="dark" [value]="80" [striped]="true"></ngb-progressbar><h4>80%</h4>
        </div>
        <div class="compet container">
            <h4>C</h4><ngb-progressbar type="dark" [value]="80" [striped]="true"></ngb-progressbar><h4>80%</h4>
        </div>
        <div class="compet container">
            <h4>HTML/CSS</h4><ngb-progressbar type="dark" [value]="80" [striped]="true"></ngb-progressbar><h4>80%</h4>
        </div>
        <div class="compet container">
            <h4>Réseaux</h4><ngb-progressbar type="dark" [value]="75" [striped]="true"></ngb-progressbar><h4>75%</h4>
        </div>
        <div class="compet container">
            <h4>SQL/PLSQL</h4><ngb-progressbar type="dark" [value]="65" [striped]="true"></ngb-progressbar><h4>65%</h4>
        </div>
        <div class="compet container">
            <h4>PHP</h4><ngb-progressbar type="dark" [value]="60" [striped]="true"></ngb-progressbar><h4>60%</h4>
        </div>
        <div class="compet container">
            <h4>JS</h4><ngb-progressbar type="dark" [value]="60" [striped]="true"></ngb-progressbar><h4>60%</h4>
        </div>
        <div class="compet container">
            <h4>Contiki</h4><ngb-progressbar type="dark" [value]="60" [striped]="true"></ngb-progressbar><h4>60%</h4>
        </div>
        <div class="compet container">
            <h4>Angular</h4><ngb-progressbar type="dark" [value]="50" [striped]="true"></ngb-progressbar><h4>50%</h4>
        </div>
    </div>
</div>
<div class="menu ">
    <div class="content box">
        <h1>Communication</h1>
        <div class="compet container">
            <h4>Gestion d'Equipe</h4><ngb-progressbar type="dark" [value]="90" [striped]="true"></ngb-progressbar><h4>90%</h4>
        </div>
        <div class="compet container">
            <h4>Plannification</h4><ngb-progressbar type="dark" [value]="85" [striped]="true"></ngb-progressbar><h4>85%</h4>
        </div>
        <div class="compet container">
            <h4>Agile</h4><ngb-progressbar type="dark" [value]="85" [striped]="true"></ngb-progressbar><h4>85%</h4>
        </div>
        <div class="compet container">
            <h4>Aisance à l'oral</h4><ngb-progressbar type="dark" [value]="70" [striped]="true"></ngb-progressbar><h4>70%</h4>
        </div>
    </div>
</div>
<div class="menu">
    <div class="content box ">
        <h1>Langues</h1>
        <div class="compet container">
            <h4>Anglais</h4><ngb-progressbar type="dark" [value]="75" [striped]="true"></ngb-progressbar><h4>B2</h4>
        </div>
        <div class="compet container">
            <h4>Espagnol</h4><ngb-progressbar type="dark" [value]="60" [striped]="true"></ngb-progressbar><h4>B1</h4>
        </div>
    </div>
</div>