<div class="main">
    <div class="box">
        <div class="inter">
            <div>
                <h1>Aide Diagnostic Logiciels</h1>
            </div>
            <div class="jsp">
                <div>
                    <h4>¤ Objectif :</h4>
                    <p>Ajouter un système d'aide au diagnostic à un logiciel d'hypervision de vidéos surveillance pour les villes et la mobilité.</p>
                    <h4>¤ Contenu :</h4>
                    <ul>
                        <li>Analyse des besoins de recherche et d'analyses auprès du service technique.</li>
                        <li>Analyse des solutions existant sur le marché et comparatif à une solution maison avec <strong>ReactJS</strong></li>
                        <li>Développement d'une solution d'analyse de logs avec possibilité de créer des rapports, des requêtes spécifiques au logiciel.</li>
                        <li>Déploiement et validation de la solution sur différents cas.</li>
                        <li>Rédaction documentaire de la solution mise en place.</li>
                    </ul>
                    <h4>¤ Compétences développées :</h4>
                    <ul>
                        <li>Travail au sein d'une équipe.</li>
                        <li>Autonomie.</li>
                        <li>Découverte d'un nouveau FrameWork.</li>
                        <li>Organisation.</li>
                    </ul>
                    <h4>¤ Langages :</h4>
                    <div class="icone">
                        <img src="../../assets/images/react(1).png" width="50px" height="50px">
                        <img src="../../assets/images/html(1).png" width="50px" height="50px">
                        <img src="../../assets/images/css-3(1).png" width="50px" height="50px">
                        <img src="../../assets/images/js(1).png" width="50px" height="50px">
                    </div>
                </div>
                <video width="400" height="400" controls>
                    <source src="../../assets/fichier/actia.mp4" type="video/mp4">
                </video>
            </div>
        </div>  
    </div>
    <div class="box">
        <div class="inter">
            <div>
                <h1>Blockchain</h1>
            </div>
            <div class="jsp">
                <div style="width: 100% !important;">
                    <h4>¤ Objectif :</h4>
                    <p>Découverte de l'environnement Blockchain à travers des mini-projets.</p>
                    <h4>¤ Contenu :</h4>
                    <ul>
                        <li>Prise en main du langage <strong>Solidity</strong>.</li>
                        <li>Utilisation des smarts-contracts.</li>
                        <li>Création d'une Blockchain basique.</li>
                        <li>Création d'une Cryptomonnaie.</li>
                    </ul>
                    <h4>¤ Compétences développées :</h4>
                    <ul>
                        <li>Connaissances Blockchain.</li>
                        <li>Autoformation.</li>
                        <li>Prise en main d'un nouveau langage.</li>
                    </ul>
                    <h4>¤ Langages :</h4>
                    <div class="icone">
                        <img src="../../assets/images/1 6hFbv6Q21jOuBbpVRtmnDg.png" width="50px" height="50px">
                        <img src="../../assets/images/react(1).png" width="50px" height="50px">
                        <img src="../../assets/images/html(1).png" width="50px" height="50px">
                        <img src="../../assets/images/css-3(1).png" width="50px" height="50px">
                        <img src="../../assets/images/js(1).png" width="50px" height="50px">
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="box">
        <div class="inter">
            <div>
                <h1>E-Portfolio</h1>
            </div>
            <div class="jsp">
                <div style="width: 100% !important;">
                    <h4>¤ Objectif :</h4>
                    <p>Créer son e-portfolio en utilisant Angular.</p>
                    <h4>¤ Contenu :</h4>
                    <ul>
                        <li>Présentation des expériences professionnelles.</li>
                        <li>Présentation des projets universitaires.</li>
                        <li>Présentation des projets personnels.</li>
                        <li>Prise en main d'<strong>Angular</strong></li>
                        <li>Explication du projet professionnel.</li>
                        <li>Présentation de mes centres d'intérêt.</li>
                        <li>Lien vers mes réseaux.</li>
                    </ul>
                    <h4>¤ Compétences développées :</h4>
                    <ul>
                        <li>Autoformation.</li>
                        <li>Découverte d'<strong>Angular</strong>.</li>
                    </ul>
                    <h4>¤ Langages :</h4>
                    <div class="icone">
                        <img src="../../assets/images/angular-2038881-1720094.png" width="50px" height="50px">
                        <img src="../../assets/images/html(1).png" width="50px" height="50px">
                        <img src="../../assets/images/css-3(1).png" width="50px" height="50px">
                        <img src="../../assets/images/js(1).png" width="50px" height="50px">
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="box">
        <div class="inter">
            <div>
                <h1>Calculateur de probabilités pour le Poker</h1>
            </div>
            <div class="jsp">
                <div style="width: 100% !important;">
                    <h4>¤ Objectif :</h4>
                    <p>Réaliser un calculateur de probabilités pour le poker en langage fonctionnel.</p>
                    <h4>¤ Contenu :</h4>
                    <ul>
                        <li>Fonction qui prend un ensemble de cinq cartes ou plus, et retourne la
                            meilleure main de cinq cartes dans cet ensemble.</li>
                        <li>Fonction qui prend un ensemble de n cartes distribuées pour un joueur
                            (ouvertes ou fermées), un nombre m de cartes restant à distribuer, et
                            calcule, pour chaque main, la probabilité que le joueur obtienne cette
                            main à la fin de la distribution (si m = 0, alors il s’agit simplement de
                            déterminer quelle main le joueur a, sinon il faudra prendre en compte
                            les différentes possibilités en fonction des cartes restantes dans le jeu).</li>
                        <li>Fonction qui prend les deux cartes fermées d’un joueur, le tableau (0,
                            3, 4 ou 5 cartes) et le nombre d’adversaires, et retourne la probabilité
                            pour le joueur d’avoir la meilleure main à la fin de la distribution..</li>
                        <li>Fonction qui prend les deux cartes fermées de chaque joueur, le tableau
                            (0, 3, 4 ou 5 cartes), et calcule pour chaque joueur la probabilité
                            d’avoir la meilleure main à la fin de la distribution.</li>
                        <li>Prise en main de <strong>Scala</strong> et du langage fonctionnel.</li>
                    </ul>
                    <h4>¤ Compétences développées :</h4>
                    <ul>
                        <li>Probabilités.</li>
                        <li>Découverte du langage fonctionnel et de <strong>Scala</strong>.</li>
                        <li>Organisation.</li>
                    </ul>
                    <h4>¤ Langages :</h4>
                    <div class="icone">
                        <img src="../../assets/images/scala(1).png" width="50px" height="50px">
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="box">
        <div class="inter">
            <div>
                <h1>Etude de l'Internet des Objets</h1>
            </div>
            <div class="jsp">
                <div>
                    <h4>¤ Objectif :</h4>
                    <p>Analyser l'Internet des Objets à travers le système Contiki et le simulateur Cooja.</p>
                    <h4>¤ Contenu :</h4>
                    <ul>
                        <li>Etude et paramétrage d'applications consacrées à l'IOT(Contiki-COOJA).</li>
                        <li>Prise en main de la simulation via un exemple simple.</li>
                        <li>Communication entre un capteur RFID et une mote TelosB.</li>
                        <li>Communication entre plusieurs motes jusqu'à un border router.</li>
                        <li>Compréhension du protocole RPL.</li>
                        <li>Compréhension de la création d'un DODAG.</li>
                        <li>Elaboration d'un DODAG.</li>
                        <li>Conception et réalisation d'une simulation pour la surveillance de l'énergie des objets d'un domaine.</li>
                    </ul>
                    <h4>¤ Compétences développées :</h4>
                    <ul>
                        <li>Amélioration de l'utilisation de GitHub.</li>
                        <li><strong>Découverte de Cooja et de Contiki</strong>.</li>
                        <li>Organisation.</li>
                        <li><strong>Programmation bas niveau (C)</strong>.</li>
                    </ul>
                    <h4>¤ Langages :</h4>
                    <div class="icone">
                        <img src="../../assets/images/letter-c(1).png" width="50px" height="50px">
                        <img src="../../assets/images/reseau-mondial.png" width="50px" height="50px">
                    </div>
                </div>
                <video width="400" height="400" controls>
                    <source src="../../assets/fichier/iot.mp4" type="video/mp4">
                </video>
            </div>
        </div>  
    </div>
    <div class="box">
        <div class="inter">
            <div>
                <h1>Conception et analyse d'une agence de voyage</h1>
            </div>
            <div class="jsp">
                <div>
                    <h4>¤ Objectif :</h4>
                    <p>Ajouter un système d'aide au diagnostic à un logiciel d'hypervision de vidéos surveillance pour les villes et la mobilité.</p>
                    <h4>¤ Contenu :</h4>
                    <ul>
                        <li>Analyse d'un processus métier.</li>
                        <li>Analyse de données.</li>
                        <li>Analyse d'un système informatique et d'informations.</li>
                        <li>Utilisation de diagramme UML (Diagrammes de classes, de séquences, d'états-transitions,de communication et d'activité).</li>
                        <li>Conception d'une numérisation.</li>
                    </ul>
                    <h4>¤ Compétences développées :</h4>
                    <ul>
                        <li>Analyse en utilisant des <strong>diagrammes UML</strong>.</li>
                        <li>Appropriation d'un projet.</li>
                        <li><strong>Conception</strong>.</li>
                        <li>Rédaction d'un rapport</li>
                    </ul>
                    <h4>¤ Langages :</h4>
                    <div class="icone">
                        <img src="../../assets/images/couler.png" width="50px" height="50px">
                    </div>
                </div>
                <video width="400" height="400" controls>
                    <source src="../../assets/fichier/noissap.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="inter">
            <div>
                <h1>Site E-Commerce - Projet PHP</h1>
            </div>
            <div class="jsp">
                <div>
                    <h4>¤ Objectif :</h4>
                    <p>Développer un site de E-Commerce en PHP.</p>
                    <h4>¤ Contenu :</h4>
                    <ul>
                        <li>Mise en pratique des méthodes vues en TD.</li>
                        <li>Utilisation du pattern MVC.</li>
                        <li>Mise en place d'une sécurité.</li>
                        <li>Etablir une connexion.</li>
                        <li>Liéer le site avec une base de données.</li>
                    </ul>
                    <h4>¤ Langages :</h4>
                    <div class="icone">
                        <img src="../../assets/images/php(1).png" width="50px" height="50px">
                        <img src="../../assets/images/html(1).png" width="50px" height="50px">
                        <img src="../../assets/images/css-3(1).png" width="50px" height="50px">
                    </div>
                </div>
                <video width="400" height="400" controls>
                    <source src="../../assets/fichier/commerce.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="inter">
            <div>
                <h1>Site WAS - Projet HTML/CSS</h1>
            </div>
            <div class="jsp">
                <div>
                    <h4>¤ Objectif :</h4>
                    <p>Réaliser un site vitrine pour une entreprise en HTML/CSS.</p>
                    <h4>¤ Contenu :</h4>
                    <ul>
                        <li>Respecter un cahier des charges.</li>
                        <li>Faire en sorte que le site soit responsive.</li>
                        <li>Répondre aux besoins d'une entreprise.</li>
                        <li>Utiliser les connaissances vues en TD/Cours</li>
                    </ul>
                    <h4>¤ Compétences développées :</h4>
                    <ul>
                        <li><strong>HTML/CSS</strong>.</li>
                        <li>Créativité.</li>
                        <li>Responsive.</li>
                    </ul>
                    <h4>¤ Langages :</h4>
                    <div class="icone">
                        <img src="../../assets/images/html(1).png" width="50px" height="50px">
                        <img src="../../assets/images/css-3(1).png" width="50px" height="50px">
                    </div>
                </div>
                <video width="400" height="400" controls>
                    <source src="../../assets/fichier/html.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="inter">
            <div>
                <h1>BANG! - Projet Programmation orientée objet (Java)</h1>
            </div>
            <div>
                <h4>¤ Objectif :</h4>
                <p>Programmer et implémenter toutes les fonctionnalités du jeu de société BANG! en Java.</p>
                <h4>¤ Contenu :</h4>
                <ul>
                    <li>Développer les fonctionnalités du jeu.</li>
                    <li>Réaliser des tests unitaires.</li>
                    <li>Mise en pratique des connaissances vues en cours et en td.</li>
                    <li>Utilisation de GitHub</li>
                </ul>
                <h4>¤ Compétences développées :</h4>
                <ul>
                    <li><strong>Java</strong>.</li>
                    <li>Tests Unitaires.</li>
                    <li>Trello.</li>
                    <li>GitHub.</li>
                </ul>
                <h4>¤ Langages :</h4>
                <div class="icone">
                    <img src="../../assets/images/java(1).png" width="50px" height="50px">
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="inter">
            <div>
                <h1>Projet tutoré - Méthode SCRUM</h1>
            </div>
            <div class="jsp">
                <div>
                    <h4>¤ Objectif :</h4>
                    <p>Gestion d'un projet de création d'un site web à l'aide d'un CMS.</p>
                    <h4>¤ Contenu :</h4>
                    <ul>
                        <li>Analyser les CMS existant afin d'en choisir un.</li>
                        <li>Mise en place de la méthode agile SCRUM.</li>
                        <li>Critique de la méthode agile.</li>
                        <li>Utilisation de Trello.</li>
                        <li>Mise en place de Daily Meeting et de planning poker.</li>
                    </ul>
                    <h4>¤ Compétences développées :</h4>
                    <ul>
                        <li>Travail d'équipe.</li>
                        <li>Méthode <strong>SCRUM</strong>.</li>
                        <li><strong>CMS Wordpress</strong>.</li>
                        <li>Communication.</li>
                        <li><strong>Product Owner</strong>.</li>
                    </ul>
                    <h4>¤ Langages :</h4>
                    <div class="icone">
                        <img src="../../assets/images/couler.png" width="50px" height="50px">
                        <img src="../../assets/images/scrum.png" width="50px" height="50px">
                        <img src="../../assets/images/174881.png" width="50px" height="50px">
                    </div>
                </div>
                <video width="400" height="400" controls>
                    <source src="../../assets/fichier/Gestion.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="inter">
            <div>
                <h1>WAZE - Conception orientée objet</h1>
            </div>
            <div class="jsp">
                <div>
                    <h4>¤ Objectif :</h4>
                    <p>Conception et analyse de l'application Waze.</p>
                    <h4>¤ Contenu :</h4>
                    <ul>
                        <li>Analyse des fonctionnalités de l'application Waze et les traduire en diagramme UML.</li>
                        <li>Réaliser un diagramme d'états-transitions.</li>
                        <li>Réaliser des diagrammes de classes.</li>
                        <li>Réaliser des diagrammes de séquences.</li>
                        <li>Réaliser des diagrammes d'états-transitions.</li>
                    </ul>
                    <h4>¤ Compétences développées :</h4>
                    <ul>
                        <li><strong>Conception</strong>.</li>
                        <li><strong>UML</strong>.</li>
                    </ul>
                    <h4>¤ Langages :</h4>
                    <div class="icone">
                        <img src="../../assets/images/couler.png" width="50px" height="50px">
                    </div>
                </div>
                <video width="400" height="400" controls>
                    <source src="../../assets/fichier/Coo(2).mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>