html{
    margin:0;
    padding:0;
    background: url(assets/images/sunset-over-some-mountains.jpg)no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}
footer {
    text-align: center;
    border: solid 2px #35292d;
    position:absolute;
    bottom:1%;
    width:15%;
    height:5%;
    left:42.5%;
    color : #b7c1de;
}
p {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}