html{
    margin:0;
    padding:0;
    background: url(assets/images/sunset-over-some-mountains.jpg)no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    height: 100%;
    width: 100%;
    min-width: 740px;
}
body {
    min-height: 100%;
    width: 100%;
}
footer {
    text-align: center;
    border: solid 2px #35292d;
    position: relative;
    margin-top: 2%;
    width:20%;
    height:5%;
    left:39%;
    color : #b7c1de;
}
footer p {
    margin-top: auto;
    margin-bottom: auto;
}
@media (max-width: 970px){
    footer {
        width:20%;
        left:39%;
        margin-bottom: 2%;
     }
}
