<div class="box b1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="content">
        <h2>Mon E-Portfolio</h2>
        <p><a>All our modules are designed to play nicely with responsive of course. At the end of the day it comes down to the theme you use - our code doesn't get in your way.</a></p>
    </div>
</div>

<div class="box b2">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="content">
        <h2>Mon E-Portfolio</h2>
        <p><a>All our modules are designed to play nicely with responsive of course. At the end of the day it comes down to the theme you use - our code doesn't get in your way.</a></p>
    </div>
</div>

<div class="box b3">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="content">
        <h2>Mon E-Portfolio</h2>
        <p><a>All our modules are designed to play nicely with responsive of course. At the end of the day it comes down to the theme you use - our code doesn't get in your way.</a></p>
    </div>
</div>