
a {
  text-decoration: none;
  color : #b7c1de;
}

a:hover {
  text-decoration : none;
  color : #b7c1de;
}

div h5 {
  margin-top: 5%;
}

.box{
    display: inline-flex;
    transform: translate(-50%, -50%);
    background: transparent;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 80px #513a54;
    border: 2px solid #b7c1de;
    color : #b7c1de;
    width: 250px;
    height: 250px;
}
.box:nth-child(-n +4){
  margin-top: 15%;
}
.box:nth-child(-n +3){
  margin-right: 5%;
}
.box:first-child{
  margin-left: 22%;
}
.box:last-child{
  margin-right: 0;
  margin-top: 4%;
}
.box:nth-child(5){
  margin-left: 40%;
  margin-right: 5%;
  margin-top: 4%;
}
@media (max-width: 1600px){
  .box:nth-child(-n +3){
    margin-top: 15%;
  }
  .box:nth-child(-n +2){
    margin-right: 5%;
  }
  .box:first-child{
    margin-left:30%;
  }
  .box:nth-child(4){
    margin-left: 30%;
    margin-right: 5%;
    margin-top: 4%;
  }
  .box:nth-child(5){
    margin-left: 0;
    margin-right: 5%;
    margin-top: 4%;
  }
}
@media (max-width: 1370px){
  .box:nth-child(-n +2){
    margin-top: 15%;
  }
  .box:first-child{
    margin-right: 5%;
    margin-left: 38%;
  }
  .box:nth-child(3){
    margin-left: 38%;
    margin-right: 5%;
    margin-top: 4%;
  }
  .box:nth-child(4){
    margin-left: 0;
    margin-right: 5%;
    margin-top: 4%;
  }
  .box:nth-child(5){
    margin-left: 38%;
    margin-right: 5%;
    margin-top: 4%;
  }
}
@media (max-width: 970px){
  .box:first-child {
    margin-left: 50%;
    margin-top: 40%;
  }
  .box:nth-child(2) {
    margin-left: 50%;
    margin-top: 4%;
  }
  .box:nth-child(3) {
    margin-left: 50%;
  }
  .box:nth-child(4) {
    margin-left: 50%;
  }
  .box:nth-child(5) {
    margin-left: 50%;
  }
  .box:last-child{
    margin-left: 50%;
  }
}
.box:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width: 300px;
    height: 300px;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
  }

.box .content{
    position:absolute;
    top:15px;
    background: #35292d;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #b7c1de;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
  
}

.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.box span:nth-child(1)
{
  transform:rotate(0deg);
}

.box span:nth-child(2)
{
  transform:rotate(90deg);
}

.box span:nth-child(3)
{
  transform:rotate(180deg);
}

.box span:nth-child(4)
{
  transform:rotate(270deg);
}

.box span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 3px;
  background: #b7c1de;
  animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform:scaleX(0);
        transform-origin: left;
    }
    50% {
        transform:scaleX(1);
        transform-origin: left;
    }
    50.1% {
        transform:scaleX(1);
        transform-origin: right; 
    }
    100%{
        transform:scaleX(0);
        transform-origin: right;
    }
  } 